.dler
_.log
.cache
.claude/settings.local.json
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*.local
.eslintcache
.idea
.idea/
.turbo
*.exe
*.lcov
*.log
*.swo
*.swp
*.tgz
*.tsbuildinfo
*~
/__*
/target
Cargo.lock
coverage
dist
logs
node_modules
out
pack-input
pack-output
release
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
start-runtime
temp
tests-runtime
Thumbs.db
tmp
